.spells {
    font-family: fantasy;
    text-shadow: 1px 1px green;
    color: black;
    padding: 50px;
    display: grid;
    overflow: scroll;
    height: 700px;
    /* border: 1px solid rebeccapurple; */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 60px);
    grid-template-areas: 
    "nam nam nam nam nam"
    "sch . lev . pag"
    "cas cas cas rit rit"
    "dur dur dur con con"
    "ran ran . com com"
    "mat mat mat mat mat"
    "des des des des des"
    "hig hig hig hig hig"
}
.spells:hover:nth-child(3n+0){
    border-radius: 50px;
    padding: 30px;
    transition-duration: 3s;
    border: 3px groove green;
    border-style: outset;
    background-image: url("../../../images/greenFire.jpg");
    background-size: cover;
    color: magenta;
    text-shadow: 1px 1px black, 10px 10px black;
}
.spells:hover:nth-child(3n+1){
    border-radius: 50px;
    padding: 30px;
    transition-duration: 3s;
    border: 3x groove blue;
    border-style: outset;
    background-image: url("../../../images/blueFire.jpeg");
    background-size: cover;
    color: yellow;
    text-shadow: 1px 1px black, 10px 10px black;
}
.spells:hover:nth-child(3n+2){
    border-radius: 50px;
    padding: 30px;
    transition-duration: 3s;
    border: 3px groove red;
    border-style: outset;
    background-image: url("../../../images/redFire.jpeg");
    background-size: cover;
    color: cyan;
    text-shadow: 1px 1px black, 10px 10px black;
}



.name {
    grid-area: nam;
    
}
.page {
    grid-area: pag;
}
.range {
    grid-area: ran;
}
.components {
    grid-area: com;
}
.materials {
    grid-area: mat;
}
.rituals {
    grid-area: rit;
}
.duration {
    grid-area: dur;
}
.concentration {
    grid-area: con;
}
.castingTime {
    grid-area: cas;
}
.classes {
    grid-area: cla;
}
.level {
    grid-area: lev;
}
.school {
    grid-area: sch;
}
.description {
    grid-area: des;
}
.higher_level {
    grid-area: hig;
}