body {
    background-image: url("theEnd.gif");
    background-size: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 200px);
    grid-template-areas: 
    "t t t t t"
    "p1 m m m  p2"
    "p1 m m m  p2"
    "p1 m m m  p2"
    "p1 m m m  p2"
}
.title {
    grid-area: t;
    margin: center;
    text-align: center;
    text-shadow: 2px 2px red;
    font-size: 150px;
}
.pic1 {
    grid-area: p1;
}
.pic2 {
    grid-area: p2;
}
.main {
    background-image: url("gone.jpg");
    background-size: 100vw;
    grid-area: m;
}
#timer {
    color: red;
    font-size: 50px;
    margin: center;
    text-align: center;
}
#btn {
    height: 100px;
    width: 100px;
    background-image: url("button.png")

}
