*{
    box-sizing: border-box;
}
body {
    background-color: #d4d4d4;
}
#columns {
    column-count: 3;
}
.title {
    display: block;
    margin: auto;
    width: 100vw;
    text-align: center;
}
h1, h2{
    font-size: 100px;
}
#name1, #name2, #pic{
    display: inline-block;
    
}
#pic {
    width: auto;
    height: 100px;
}
#cetus {
    height: 150px;
    width: auto;
    float: right;
}