.spellpage {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "c"
    "s";
    /* border: 1px solid black; */
    overflow: scroll;
}

.characters {
    grid-area: c;
    /* border: 5px dotted red; */
    background-image: url("../../images/page.jpeg");
    background-color: tan;
    background-blend-mode: luminosity;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 30vh;
    overflow: scroll
}

.spellbook {
    grid-area: s;
    /* border: 5px dotted blue; */
    background-image: url("../../images/page.jpeg");
    background-color: silver;
    background-blend-mode: luminosity;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 55vh;
    overflow: scroll
}
@media  (min-width: 700px){
    .spellpage {
        grid-template-columns: 2fr 1fr 3fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "c . s";
    }
    .characters{
        height: 90vh;
    }
    .spellbook{
        height: 90vh;
    }
} 