.form {
    width: 920px;
    border: red solid 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 35px 35px 35px auto;
    grid-template-areas: 
    "spname spname spSubm spSubm"
    "sppage sprang spritu spscho"
    "spcomp spdura spcast spleve"
    "spmate spmate spClas spClas "
    "spdesc spdesc sphlev sphlev"




}
::placeholder{
    color:black
}
input:focus{
    background-color: coral;
}
textarea:focus{
    background-color: coral;
}
.formSpellName {
    grid-area: spname;
    
}

.formDescription {
    grid-area: spdesc;
    
}

.formHigherLevel {
    grid-area: sphlev;
    
}

.formPage {
    grid-area: sppage;
    
}

.formRange {
    grid-area: sprang;
    
}

.formComponents {
    grid-area: spcomp;
    
}

.formMaterials {
    grid-area: spmate;
    
}

.formRitual {
    grid-area: spritu;
    
}

.formDuration {
    grid-area: spdura;
    
}

.formCastingTime {
    grid-area: spcast;
    
}

.formLevel {
    grid-area: spleve;
    
}

.formSchool {
    grid-area: spscho;
    
}

.formClasses {
    grid-area: spClas;
    border: red solid 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:   auto;
    grid-template-areas: 
    "spcNam . . ."
    "spcBar spcCle spcDru spcPal"
    "spcRan spcSor spcWar spcWiz";

}

.formClassName{
    grid-area: spcNam;  
}
.formClassBard {
    grid-area: spcBar;

}

.formClassCleric {
    grid-area: spcCle
}

.formClassDruid {
    grid-area: spcDru
}

.formClassPaladin {
    grid-area: spcPal
}

.formClassRanger {
    grid-area: spcRan
}

.formClassSorcerer {
    grid-area: spcSor
}

.formClassWarlock {
    grid-area: spcWar
}

.formClassWizard {
    grid-area: spcWiz
}

.formSubmit {
    grid-area: spSubm;
    border-radius: 25px;
    height: 90%;
}