.spellBook {
    width: 90%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    position: sticky;
    /* border: 2px solid red; */
}

.book {
    border: 20px solid black;
    margin: auto;
    width: 80%;
    background-attachment: fixed;
    background-position: center;
}

.spellOptions {
    left: 0px;
    width: 100px;
    display: flex;
    flex-direction: column;
    position: fixed    
}

select {
    background-color: black;
    color: red;
}
select:hover {
    background-color: blue;
    color: green;
    font-size: 15px;
}