* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-column: 1fr 4fr 1fr;
    background-image: url("https://i.pinimg.com/736x/f3/61/87/f361873e3638a12d78334402004c49ea--warhammer-fantasy-warhammer-k.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw; 
    width: 80%;
    margin: auto;
    grid-template-areas: 
    "nav nav nav"
    "h1 h1 h1"
    ". simple  simple"
    "mek mek ."
/* add @media to change background to just be badrukk when below 1150px */
}
@media (max-width: 1050px){
    body {
        background-image: url("Badrukk.jpg");
        background-attachment: fixed;
        grid-template-areas: 
        "nav nav nav"
        "h1 h1 h1"
        "simple simple simple"
        "mek mek mek"    
    }
    .simple .melee {
        height: 100px;
    }
    .simple .melee1 {
        height: 175px;
    }      
    .mekUpgrade .melee {
        height: 100px;
    }    
}

.navbar {
    grid-area: nav;
    display: grid;
    grid-column: 2fr 2fr 2fr;
    grid-template-areas:
    "l1 l2 l3"
}

.link1, .link2, .link3 {
    font-family: 'Times New Roman', Times, serif;    
    color: black;
    text-shadow: 1px 1px orangered;    
    text-align: center;
    font-size: 25px; 
}
.link1 {
    grid-area: l1;
    
}
.link2  {
    grid-area: l2;
    
}
.link3  {
    grid-area: l3;
    
}
.simple{
    grid-area: simple;
    color: black;
    text-shadow: 1px 1px forestgreen;    
    margin-top: 30px; 
}
.mekUpgrade {
    grid-area: mek;
    color: black;
    text-shadow: 1px 1px forestgreen;    
    margin-top: 30px; 
}
.melee {
    display: block;
    float: left;
    height: 150px;
    padding: 5px;
}
.melee1 {
    display: block;
    float: right;
    height: 250px;
    padding: 5px;
}
h1 {
    grid-area: h1;
    margin: auto;
    color: black;
    text-shadow: 1px 1px forestgreen;    

}
