html {
    background: whitesmoke;
}
h1 {
    color: darkgreen;
    font-style: georgia;
    text-align: center;
    
}
h2 {
    font-style: georgia;
    text-align: center;
}
p, h3, h4, li, h5, h6 {
    font-size: 25px;
}
h6 a{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h5 {
    text-transform: uppercase;
}
img {
    float: left;
    height: 350px;
    width: 350px;
}