.home {
    width: 100%;
    height: 100%;
    color: rgb(156, 151, 151);
    text-align: center;
    margin: auto;
    background: url("../../images/static.gif");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center
}
/* .test {
    color:white;
    background: url("../../images/colors.gif");
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */